<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="<%= clientPayload.uploadLink %>" method="post" enctype="multipart/form-data"> 
        <input type="hidden" name="policy" value="<%= clientPayload['policy'] %>" />
        <input type="hidden" name="key" value="<%= clientPayload['key'] %>" />
        <input type="hidden" name="x-amz-signature" value="<%= clientPayload['x-amz-signature'] %>" /> <input type="hidden" name="x-amz-algorithm" value="<%= clientPayload['x-amz-algorithm'] %>" /> <input type="hidden" name="x-amz-date" value="<%= clientPayload['x-amz-date'] %>" />
        <input type="hidden" name="x-amz-credential" value="<%= clientPayload['x-amz-credential'] %>" />
        <input type="hidden" name="success_action_status" value="201" />
        <input type="hidden" name="success_action_redirect" value="https://localhost:3000/cb" />
        <input type="file" name="file" /> <br /> 
        <input type="submit" name="submit" value="Upload" />
    </form>
</body>
</html>